In [50]:
import pandas as pd

In [51]:
print("Select the crude oil from the following options:\n1. Light Smiley\n2. Peace\n3. Federated\n4. Pembina \n5. Secure Sask Light \n6. Mixed Sweet Blend \n7. Rainbow \n8. BC Light\n9. Boundary Lake\n10. Koch Alberta \n11. Moose Jaw Tops \n12. Pembina Light Sour \n13. Hardisty Light \n14. Medium Gibson Sour \n15. Midale \n16. Peace Pipe Sour \n17. Conventional Heavy")

Select the crude oil from the following options:
1. Light Smiley
2. Peace
3. Federated
4. Pembina
5. Secure Sask Light
6. Mixed Sweet Blend
7. Rainbow
8. BC Light
9. Boundary Lake
10. Koch Alberta
11. Moose Jaw Tops
12. Pembina Light Sour
13. Hardisty Light
14. Medium Gibson Sour
15. Midale
16. Peace Pipe Sour
17. Conventional Heavy

In [52]:
crude_oil_1 = input("Please enter the name of first crude oil:")

Please enter the name of first crude oil:peace

In [53]:
crude_oil_2 = input("Please enter the name of second crude oil:")

Please enter the name of second crude oil:PeMbina

In [54]:

# .lower() to handle uppercase or lowercase user entry
csv_file_crude_oil_1 = "data_files/" + crude_oil_1.lower() + ".csv"

In [55]:
df_crude_oil_1 = pd.read_csv(csv_file_crude_oil_1)
df_crude_oil_1_dist = df_crude_oil_1[["Crude Name", "Date", "5% Off (deg. C)","10% Off (deg. C)","20% Off (deg. C)","30% Off (deg. C)","40% Off (deg. C)",
                "50% Off (deg. C)","60% Off (deg. C)","70% Off (deg. C)","80% Off (deg. C)","90% Off (deg. C)","95% Off (deg. C)","99% Off (deg. C)","100% Off (deg. C)"]]
df_crude_oil_1_dropna = df_crude_oil_1_dist.dropna(thresh=3)
df_crude_oil_1_recent = df_crude_oil_1_dropna.head(1)
# Transpose the dataframe
df_crude_oil_1_recent_T = df_crude_oil_1_recent.T
df_crude_oil_1_recent_T.columns = df_crude_oil_1_recent_T.iloc[0]
df_crude_oil_1_recent_T_1 = df_crude_oil_1_recent_T.drop(df_crude_oil_1_recent_T.index[0])
df_crude_oil_1_recent_T_2 = df_crude_oil_1_recent_T_1.drop(df_crude_oil_1_recent_T.index[1])
df_crude_oil_1_recent_T_2



# selecting the distillation profile related fields from the data

Crude Name         Peace
5% Off (deg. C)     42.2
10% Off (deg. C)    83.6
20% Off (deg. C)   115.5
30% Off (deg. C)   160.1
40% Off (deg. C)   202.7
50% Off (deg. C)   257.6
60% Off (deg. C)   313.7
70% Off (deg. C)   378.5
80% Off (deg. C)   453.2
90% Off (deg. C)   560.2
95% Off (deg. C)   662.8
99% Off (deg. C)     NaN
100% Off (deg. C)    NaN

In [56]:
# Second crude oil
# .lower() to handle uppercase or lowercase user entry

csv_file_crude_oil_2 = "data_files/" + crude_oil_2.lower() + ".csv"

df_crude_oil_2 = pd.read_csv(csv_file_crude_oil_2)
df_crude_oil_2_dist = df_crude_oil_2[["Crude Name", "Date", "5% Off (deg. C)","10% Off (deg. C)","20% Off (deg. C)","30% Off (deg. C)","40% Off (deg. C)",
                "50% Off (deg. C)","60% Off (deg. C)","70% Off (deg. C)","80% Off (deg. C)","90% Off (deg. C)","95% Off (deg. C)","99% Off (deg. C)","100% Off (deg. C)"]]
df_crude_oil_2_dropna = df_crude_oil_2_dist.dropna(thresh=3)
df_crude_oil_2_recent = df_crude_oil_2_dropna.head(1)
# Transpose the dataframe
df_crude_oil_2_recent_T = df_crude_oil_2_recent.T
df_crude_oil_2_recent_T.columns = df_crude_oil_2_recent_T.iloc[0]
df_crude_oil_2_recent_T_1 = df_crude_oil_2_recent_T.drop(df_crude_oil_2_recent_T.index[0])
df_crude_oil_2_recent_T_2 = df_crude_oil_2_recent_T_1.drop(df_crude_oil_2_recent_T.index[1])
df_crude_oil_2_recent_T_2

Crude Name        Pembina
5% Off (deg. C)      59.2
10% Off (deg. C)    111.3
20% Off (deg. C)    157.1
30% Off (deg. C)    197.3
40% Off (deg. C)    249.7
50% Off (deg. C)    306.8
60% Off (deg. C)    366.9
70% Off (deg. C)    428.4
80% Off (deg. C)    509.8
90% Off (deg. C)    632.9
95% Off (deg. C)      NaN
99% Off (deg. C)      NaN
100% Off (deg. C)     NaN

In [57]:
# Join two crude oils data frames 
df_final = pd.concat([df_crude_oil_1_recent_T_2, df_crude_oil_2_recent_T_2], axis=1, join="inner")
# Removing the last index as 100% is out of scope
result = df_final.drop(df_final.index[12])
result

Crude Name        Peace Pembina
5% Off (deg. C)    42.2    59.2
10% Off (deg. C)   83.6   111.3
20% Off (deg. C)  115.5   157.1
30% Off (deg. C)  160.1   197.3
40% Off (deg. C)  202.7   249.7
50% Off (deg. C)  257.6   306.8
60% Off (deg. C)  313.7   366.9
70% Off (deg. C)  378.5   428.4
80% Off (deg. C)  453.2   509.8
90% Off (deg. C)  560.2   632.9
95% Off (deg. C)  662.8     NaN
99% Off (deg. C)    NaN     NaN

In [58]:
# Calculating mean values for calculating the temperature of the mixture of any 2 crude oil defined by user
#oils = [crude_oil_1, crude_oil_2]
df_mean = pd.DataFrame(result.mean(1).mask(result.isnull().any(1)))
value = ['5%','10%', '20%', '30%', '40%', '50%', '60%', '70%', '80%', '90%', '95%', '99%']
df_mean.insert(0, "Percent oil evaporated", value, allow_duplicates = False)
df_mean.columns = ['Percent oil evaporated', 'Temperature(Celcius)'] 
df_mean.reset_index(inplace=True, drop=True)
df_mean

   Percent oil evaporated  Temperature(Celcius)
0                      5%                 50.70
1                     10%                 97.45
2                     20%                136.30
3                     30%                178.70
4                     40%                226.20
5                     50%                282.20
6                     60%                340.30
7                     70%                403.45
8                     80%                481.50
9                     90%                596.55
10                    95%                   NaN
11                    99%                   NaN

In [59]:
val = input("Please enter the volume (%) of evaporated mixture:")

Please enter the volume (%) of evaporated mixture:99%

In [60]:

rslt_df = df_mean[df_mean['Percent oil evaporated'] == val] 
rslt_df

   Percent oil evaporated  Temperature(Celcius)
11                    99%                   NaN